.NsCard {
    padding: 3.5rem 0 3rem;
    min-height: calc(100vh - 250px);

    .ri-checkbox-circle-line{
        color: green;
    }
    .ri-close-circle-line{
        color: red;
    }
    .ri-checkbox-circle-line, .ri-close-circle-line{
        font-size: 20px;
        position: relative;
        top: -6px;
    }
}
