.WTFFooter {
    // scss
    position: fixed;
    bottom: 1rem;
    right: 4rem;
    left: 4rem;
    border: 3px solid var(--xshop-gray-300);
    background: #ffffff;

    border-radius: 10px;

    //border-radius: var(--xshop-border-radius);
    padding: .1rem;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .wtfooter-btn{
        text-align: center;
        img{
            width: 110%;
            max-height: 5vh;
        }
    }

    a{
        color: var(--xshop-gray-800);
        position: relative;
        font-size: 11px;
    }

    #ballon{
        width: 100%;
        position: absolute;
        height: auto;
        inset-inline-end: 5%;
        max-height: none;
        top: -90%;
    }
}
