@font-face {
    font-family: 'Yekan Bakh VF';
    src: url('/yekan-bakh-vf/YekanBakh-VF.woff2') format('woff2-variations'),
         url('/yekan-bakh-vf/YekanBakh-VF.woff2') format('woff2'),
         url('/yekan-bakh-vf/YekanBakh-VF.woff') format('woff');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yekan Bakh FaNum VF';
    src: url('/yekan-bakh-vf/YekanBakhFaNum-VF.woff2') format('woff2-variations'),
         url('/yekan-bakh-vf/YekanBakhFaNum-VF.woff2') format('woff2'),
         url('/yekan-bakh-vf/YekanBakhFaNum-VF.woff') format('woff');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yekan Bakh';
    src: url('/yekan-bakh-vf/YekanBakh-VF.woff2') format('woff2-variations'),
         url('/yekan-bakh-vf/YekanBakh-VF.woff2') format('woff2'),
         url('/yekan-bakh-vf/YekanBakh-VF.woff') format('woff');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'YekanBakh';
    src: url('/yekan-bakh-vf/YekanBakh-VF.woff2') format('woff2-variations'),
         url('/yekan-bakh-vf/YekanBakh-VF.woff2') format('woff2'),
         url('/yekan-bakh-vf/YekanBakh-VF.woff') format('woff');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
