// Fonts
@import 'vazirmatn/Vazirmatn-font-face.css';
@import "remixicon/fonts/remixicon.css";
@import "vue-toast-notification/dist/theme-bootstrap.css";
// Variables
@import 'panel/variables';

// Bootstrap
//@import 'bootstrap/scss/bootstrap';


*{
    padding: 0;
    margin: 0;
    font-family: 'Vazirmatn', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
    cursor: default;
}
a{
    text-decoration: none !important;
}

#panel{
    display: grid;
    grid-template-columns:50px 0 minmax(0, 1fr);
    transition: 400ms;
    min-height: calc(100vh - 60px);

    >aside{
        background-image: url("../images/pattern.png");
        background-color: lighten($body-bg,7);
        position: relative;
    }
    &.sided{
        grid-template-columns:50px 250px minmax(0, 1fr);
        #sidebar-panel{
            display: block;
        }
    }
}

main {
    min-width: 0;
}


@import "panel/common";
@import "panel/raw";
@import "panel/fix";
@import "panel/navbar";
@import "panel/breadcrumbs";
@import "panel/item-list";
@import "panel/steps";
