#ProductYasamin {
    // scss

    h1{
        font-size: 27px;
        font-weight: 300;
    }
    #yac-images{
        font-size: 0;


        .item{
            display: inline-block;

            &:nth-child(3n+1) {
                width: 100%;
            }
            &:nth-child(3n+2) ,&:nth-child(3n+3) {
                width: 50%;
            }
            img{
                width: 100%;
                height: 45vh;
                object-fit: cover;
            }
        }
    }

    .yac-product-data{
        padding: 1rem 1.3rem;

        .p-2{
            padding: 0 !important;
        }
    }


    #price, #old-price{
        font-size: 27px;
    }

    .fav-btn {
        &[data-is-fav="1"]{
            .ri-heart-line{
                display: none !important;
            }
            .ri-heart-fill {
                display: inline-block !important;
            }
        }
        &[data-is-fav="0"], &[data-is-fav="-1"]{
            .ri-heart-fill{
                display: none !important;
            }
            .ri-heart-line {
                display: inline-block !important;
            }
        }
    }

    .bookmark-btn {
        &[data-is-bookmarked="1"]{
            .ri-bookmark-line{
                display: none !important;
            }
            .ri-bookmark-fill {
                display: inline-block !important;
            }
        }
        &[data-is-bookmarked="0"], &[data-is-bookmarked="-1"]{
            .ri-bookmark-fill{
                display: none !important;
            }
            .ri-bookmark-line {
                display: inline-block !important;
            }
        }
    }
}
