#panel-breadcrumb{
    margin-bottom: 1rem;

    .breadcrumb{
        margin-bottom: 0;

        .breadcrumb-item{
            display: flex;
            align-items: center;

            a{
                color: inherit;
                display: inline-flex;
                align-items: center;
                gap: .35rem;

                &:hover{
                    color: $primary-color-panel;
                }
            }

            i{
                font-size: 1rem;
                line-height: 1;
            }

            &.active{
                color: $secondary-color-panel;
            }
        }
    }
}


