#panel-breadcrumb{
    background: $lighter-color;
    border-radius: 4px;
    margin-bottom: 1rem;

    .breadcrumb{
        padding: .75rem 1rem;
        margin-bottom: 0;
        background: transparent;

        .breadcrumb-item{
            display: flex;
            align-items: center;

            a{
                color: grey;
                display: inline-flex;
                align-items: center;
                gap: .35rem;

                &:hover{
                    color: $primary-color-panel;
                }
            }

            i{
                font-size: 1rem;
                line-height: 1;
            }

            &.active{
                color: $secondary-color-panel;
            }
        }
    }
}

/*-500px width*/
@media (max-width: 600px) {
    #panel-breadcrumb{
        .breadcrumb-item{
            span{
                display: none !important;
            }
        }
    }
}
