.form-control:focus,.form-check-input:focus{
    box-shadow: 0 0 0 0.25rem rgba($primary-color-panel, 0.25);
border-color: lighten($primary-color-panel, 10);
}




.form-check-input:checked,.btn-primary{
    background-color: $primary-color-panel;
    border-color: $primary-color-panel;
}

.btn-primary:hover{
    background-color: $secondary-color-panel;
}

a,a:visited{
    color: black;
    &:hover{
        color: $primary-color-panel;
    }
}

.pagination{
    --bs-pagination-active-bg: #{$primary-color-panel} ;
    --bs-pagination-active-border-color: #{darken($primary-color-panel, 8)};
    --bs-pagination-color: #{$primary-color-panel};
    --bs-pagination-hover-color: #{$secondary-color-panel};
}

.v-toast__item{
    width: 275px ;
}
