.NeginNews {
    // scss
    background: #ffffff;
    direction: ltr;
    padding-bottom: 1rem;

    ul{
        list-style: none;
        a{
            color: black;
            margin: 1rem 0;
            display: block;
        }
    }

    .nsp{
        display: inline-block;
        width: 35%;
        border-bottom: 1px solid gray;
    }

    h1{
        font-weight: 200;
        font-size: 25px;
    }

    .link{
       color: #444444;
    }

    .btm{

        ul{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
        a{
            border-width: 0px;
            color: black;
            background: #d5d5d5;
            border-radius: 0;
            padding: .4rem .7rem;
            padding-top: .5rem;
            margin: 0;
        }
    }
}
