.WTFIndex {
    // scss
    #wtf-main-btns{
        .col{
            border: none !important;
            text-align: center;
            padding:0 .75rem;
        }
    }


    .wtf-section{
        display: none;
    }
    a.col-3{
        display: block;
        padding: .5rem;

        img{
            height: 11vh ;
            object-fit: cover;
            width: 100%;
        }
        h5{
            font-size: 15px;
            padding: 1rem 0;
            text-align: center;
            white-space: nowrap;
        }
    }

    a{
        color: #111111;
    }
}

/*+900px width*/
@media (min-width: 900px) {
    div.col-3{

        img {
            height: 25vh !important;
        }
    }
}
