#ProductAria {
    padding: 1.5rem 0;

    .fav-btn, .compare-btn {
        &[data-is-fav="-1"] {
            display: none !important;
        }
        &[data-is-fav="1"] {
            .ri-heart-line {
                display: none !important;
            }
            .ri-heart-fill {
                display: inline-block !important;
            }
        }
        &[data-is-fav="0"] {
            .ri-heart-fill {
                display: none !important;
            }
            .ri-heart-line {
                display: inline-block !important;
            }
        }
    }

    .product-main-card {
        background: var(--xshop-background);
        border: 1px solid color-mix(in srgb, var(--xshop-primary) 15%, transparent) !important;
    }

    .hover-primary {
        transition: color 0.2s ease;
        &:hover {
            color: var(--xshop-primary) !important;
        }
    }
}
